/* line 11, ../scss/style.scss */
.subtitle {
  margin-top: -18px;
}

/* line 18, ../scss/style.scss */
.social li {
  padding: 10px;
}
/* line 20, ../scss/style.scss */
.social li a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  cursor: hand;
}

/* line 29, ../scss/style.scss */
button {
  background-color: #ff3860;
  border: none;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/* line 38, ../scss/style.scss */
button a {
  text-decoration: none;
  color: black;
}

/* line 44, ../scss/style.scss */
.smallerOne {
  box-shadow: 0 0 70px black;
  padding: 1em;
}
/* line 49, ../scss/style.scss */
.smallerOne .hider {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 56, ../scss/style.scss */
.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

@media screen and (min-width: 801px) {
  /* line 65, ../scss/style.scss */
  .smallerOne {
    display: flex;
    flex-direction: column;
    flex: 1 0 10em;
    transition: flex-basis 700ms ease-in-out;
  }
  /* line 71, ../scss/style.scss */
  .smallerOne .hider {
    opacity: 0;
    transition: opacity .5s ease-in-out;
  }

  /* line 78, ../scss/style.scss */
  .smallerOne:hover {
    flex-basis: 20em;
    justify-content: center;
  }
  /* line 82, ../scss/style.scss */
  .smallerOne:hover h2 {
    font-size: 1.8em;
    transition: font-size 1s ease-in-out;
  }
  /* line 87, ../scss/style.scss */
  .smallerOne:hover .hider {
    opacity: 1;
  }
}
@media screen and (max-width: 800px) {
  /* line 96, ../scss/style.scss */
  .container {
    flex-direction: column;
  }
  /* line 99, ../scss/style.scss */
  .container .smallerOne {
    flex-direction: column;
  }
}